{%load static%}

<h>Look for a room</h>
<p>
Search by capacity
 <form action="{% url 'room_display:available_rooms' %}" method="post">
	{% csrf_token %}
  Capacity: <input type="text" name="capacity">
  <input type="submit" value="Search">
</form> 
</p>

<p>
Search by date
<form action="{% url 'room_display:available_rooms' %}" method="post">
	{% csrf_token %}
{{timecheck}}
  <input type="submit" value="Search">
</form> 
</p>


{% if capacity == "ValueError" %}
The capacity is not good</br>

{% endif %}



{% if room_list %}
    <ul>
    {% for room in room_list %}
        <li><a href="{% url 'room_display:room_view' room.name %}">{{ room.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    No rooms are available.
{% endif %}

<p>
<li><a href="{% url 'room_display:index' %}">Back to index</a></li>
</p>

