<h1>{{ room.name }}</h1>

{% if booking_list %}
    <ul>
    {% for booking in booking_list %}
        <li>{{booking.display}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bookings are available.</p>
{% endif %}



<table align="center" border=1 cellpadding=2>

<tr>
<th> Time
{%for weekday in weekdays %}
<th>{{weekday}} 
{%endfor%}

</tr>
<tr>
<td>  </td>
{%for day in dates %}
  <td> <a href="" target="_self">{{day}}</a> </td>
{%endfor%}
</tr>
{%for time in timeslots %}
<tr>
  <td> {{time}} </td>

{%for day in dates %}
  <td> <a href="" target="_self">booknow</a></td>
{%endfor%}
</tr>

{%endfor%}



</table>



