<h1>{{ room.name }}</h1>


{% if booking_list %}
    <ul>
    {% for booking in booking_list %}
        <li>{{booking.display}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bookings are available.</p>
{% endif %}
{% comment %}
{% endcomment %}
<form action="{% url 'room_display:room_view' room.name %}" method="post">
	{% csrf_token %}
<table align="center" border=1 cellpadding=2>

<tr>
<th> Time
{%for weekday in weekdays %}
<th>{{weekday}} 
{%endfor%}

</tr>
<tr>
<td>  </td>
{%for day in dates %}
  <td> {{day}} </td>
{%endfor%}
</tr>
{%for times in booktime_list %}


{%for t in times %}
{%if forloop.counter == 1%}
<tr>
  <td> {{t.0.hour}} </td>
{%endif%}

{%if t.1 == True%}
  <td>  Booked  </td>
{%endif%}

{%if t.1 == False%}
  <td> <input type="checkbox" name="Book" value="{{ t.0 }}"> Book  </td>
{%endif%}

{%endfor%}
</tr>

{%endfor%}

</table>



  Email addess : <input type="email" name="Email"></br>
  <input type="submit" value="Book">
</form> 

<p>
<li><a href="{% url 'room_display:index' %}">Back to index</a></li>
</p>
{% comment %}
<form action="{% url 'room_display:room_view' room.name %}" method="post">
	{% csrf_token %}
<input type="hidden" name="clear bookings" value="Clear">
<input type="submit" value="Clear bookings">
</form> 
{% end comment %}

